{% extends 'home.html' %} {% load static %}
<!-- styles -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/form.css'%}" />
{% endblock %} {% block title %}
<title>{{post.title.upper}}</title>
{% endblock %} {% block main %}

<form action="" method="POST" enctype="multipart/form-data" class="user-form">
	{% csrf_token %}

	<h2>{{post.title}}</h2>
	<div>
		<h6 class="bungee-spice">{{post.author}}</h6>
		<h4 style="color: #ebebeb">{{post.subtitle}}</h4>
		<img
			src="{{post.img.url}}"
			style="width: 100%; border-radius: 0.375rem"
		/>
		<p style="color: #ebebeb">{{post.description}}</p>
	</div>

	{{ form.as_p }}

	<div class="div-btn">
		<input type="submit" value="{{ button }}" id="btn" />
	</div>

	<h3 style="color: #ebebeb; text-align: center; margin-top: 20%">
		Out there it's said...
	</h3>
	{% for comment in old_comments %}
	<div
		style="
			padding: 2%;
			margin: 2% 0;
			border-bottom: 1px solid #ffba08;
			{% comment %} border-radius: 0.375rem; {% endcomment %}
		"
	>
		<h5 class="bungee-spice" style="color: #ebebeb; padding-left: 2%">
			- {{comment.author}}:
		</h5>
		<h6 style="color: #ebebeb">{{comment.comment}}</h6>
		<h6 style="text-align: end">
			<a
				style="color: red; text-decoration: none"
				href="{% url 'DeleteComment' comment.id %}"
				>Delete</a
			>
		</h6>
	</div>

	{% endfor %}
</form>

{% endblock %}
