<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- FONTS -->
		<!-- Bungee Spice -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap"
			rel="stylesheet"
		/>
		<!-- Bungee -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
			rel="stylesheet"
		/>
		<!-- Roboto -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet"
		/>

		<!-- STYLES -->
		{% block styles %} {% endblock %}
		<link rel="stylesheet" href="{% static 'css/home.css'%}" />

		<!-- TITLE -->
		{% block title %}
		<title>HOME</title>
		{% endblock %}
	</head>

	<body>
		<!-- HEADER -->
		{% include 'base/header.html' %}

		<!-- MESSAGES -->
		{% for message in messages %}
		<h3
			style="
				text-align: center;
				background-color: #ffba08;
				color: white;
				padding: 2% 0;
			"
		>
			{{ message }}
		</h3>
		{% endfor %}

		<!-- MAIN -->
		<main class="bg-primary main-height">
			{% block main %}
			<div
				style="
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					margin: 0 auto;
					padding: 5% 0;
					width: 90%;
				"
			>
				{% for post in posts %}
				<div
					style="
						border-radius: 0.375rem;
						background-color: #161a1d;
						padding: 2% 4%;
						margin: 2%;
					"
				>
					<h4 class="font-color" style="padding-bottom: 2%">
						{{post.title}}
					</h4>
					<img
						src="{{post.img.url}}"
						style="
							width: 400px;
							height: 400px;
							border-radius: 0.375rem;
						"
					/>

					<a
						style="
							display: block;
							text-decoration: none;
							text-align: center;
							padding-top: 2%;
							color: #39b54a;
						"
						href="{% url 'Comment' post.id %}"
						>See more</a
					>
				</div>
				{% endfor %}
			</div>
			{% endblock %}
		</main>

		<!-- FOOTER -->
		{% include 'base/footer.html' %}
	</body>
</html>
