{% extends 'home.html' %} {% load static %}
<!-- styles -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/form.css'%}" />
{% endblock %} {% block title %}
<title>MY PROFILE</title>
{% endblock %} {% block main %}

<div class="user-form" style="padding: 5% 0">
	<h2 style="text-align: center; margin: 6% auto">MY PROFILE</h2>

	{% if user.avatar %}
	<img
		src="{{user.avatar.img.url}}"
		style="width: 40px; height: 40px; border-radius: 0.375rem; border: none"
	/>
	{% endif %}
	<div>
		<div>
			<h4
				class="bungee-spice"
				style="
					margin-bottom: 0.5rem;
					margin-top: 1rem;
					padding-left: 2%;
				"
			>
				username:
			</h4>
			<p
				style="
					width: 100%;
					padding: 0.375rem 0.75rem;
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.5;
					border: none;
					border-radius: 0.375rem;
					color: #ffffff;
					background-color: #373a3e;
				"
			>
				{{ user.username }}
			</p>
		</div>
		<div>
			<h4
				class="bungee-spice"
				style="
					margin-bottom: 0.5rem;
					margin-top: 1rem;
					padding-left: 2%;
				"
			>
				email:
			</h4>
			<p
				style="
					width: 100%;
					padding: 0.375rem 0.75rem;
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.5;
					border: none;
					border-radius: 0.375rem;
					color: #ffffff;
					background-color: #373a3e;
				"
			>
				{{ user.email }}
			</p>
		</div>
	</div>

	<div style="display: flex; flex-direction: column; margin: 6% auto">
		<a
			id="btn"
			style="
				text-decoration: none;
				display: inline-block;
				text-align: center;
				margin: 2% auto;
				color: #39b54a;
				border-radius: 0.375rem;
				padding: 1%;
			"
			href="{% url 'Avatar' %}"
			>UPLOAD AVATAR</a
		>
		<a
			id="btn"
			style="
				text-decoration: none;
				display: inline-block;
				text-align: center;
				margin: 2% auto;
				color: #ffba08;
				border: 1px solid;
				border-radius: 0.375rem;
				padding: 1%;
			"
			href="{% url 'UpdateUser' %}"
			>EDIT PROFILE</a
		>
	</div>
</div>

{% endblock %}
